@use "../../sass/variables" as *;
@use "../../sass/mixin" as *;

.container-wrapper{
    width: 200px ;
    position: fixed;

    
}

.navbar{
    &__logo{
        @include flex(center,center);
        width : 100%;
        margin: 32px auto 54px;
    }
    &__menu{
        &__item{
            padding: 0px 12px;
            height: 48px;
            a{
                @include flex(center,unset);
                line-height: 24px;
                height: 100%;

            }
                span {
                  vertical-align: middle;
                   font-weight: 600;
                   display: inline-block;
                    margin-left: 10px;
                    margin-right: 4px;
                }
             &.active
             {
                 background-color: #FF7506;
                 color: white;
                
             }
              

        }
        &__item:hover{
            background-color: #FFF2E7;
        }
        &__item.active:hover{
            background-color: #FF7506;
        }
        &__item div:before{
           content: "";
           width: 200px;
           height: 143px;
           display: block;
           background-color: black;
           position: absolute;
           top: 0;
           right: -50px;
        }
        &__item div{
           position: relative;
         }
    }
        
        &__logout{
            position: absolute;
            top:150%;
            right: 5%;
        }
    }
    