@use "../../sass/variables"as *;
@use "../../sass/mixin"as *;

.container-wrapper {
    width: 200px;
    position: fixed;
    z-index: 99;

}

.navbar {
    &__logo {
        @include flex(center, center);
        width: 100%;
        margin: 32px auto 54px;
    }

    &__menu {
        &__item {
            padding: 0px 12px;
            height: 48px;

            a {
                @include flex(center, unset);
                line-height: 24px;
                height: 100%;

            }

            span {
                vertical-align: middle;
                font-weight: 600;
                display: inline-block;
                margin-left: 10px;
                margin-right: 4px;
            }

            &.active {
                background-color: #FF7506;
                color: white;

            }


        }

        &__item:hover {

            background-color: #FFF2E7;
        }

        &__item.active:hover {
            background-color: #FF7506;
        }


        &__item div {
            position: relative;
        }



        &__item:hover+.navdashboardsub-group {
            display: block;

        }


    }

    &__logout {
        position: absolute;
        top: 150%;
        right: 5%;
    }
}

.navdashboardsub {
    display: flex;
    align-items: center;
    position: relative;


    &-img {
        display: flex;
    }

    &-group {
        position: absolute !important;
        bottom: -96px;
        right: -200px;
        background-color: white;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        display: none;
        z-index: 99;
        width: 200px;
        height: 144px;

    }

    &-group::before {
        content: "";
        display: block;
        top: 0;
        height: 48px;
        width: 60px;
        left: -30px;
        background-color: #FF9138;
        position: absolute;
    }

    &-item {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 200px;
        height: 48px;
        color: #7E7D88;
        display: flex;
        align-items: center;
        padding: 12px 16px;



    }



    &-item.bd-bot {
        border-bottom-right-radius: 12px;
    }

    &-item.bd-top {
        border-top-right-radius: 12px;
    }


    &-item:hover {
        background-color: #FFF2E7;
        color: #FF7506;
    }

    &-item.active {
        color: white;
        background-color: #FF9138;

    }
}