@use "../../sass/mixin" as *;
.headerinfo-wrap{
    margin-left: 200px;
    @include flex(center , flex-start);
    height: 88px;
}
.headerinfo{
    
    &-left{
        width: 839px;
        @include flex(center , flex-start);
        background-color: #F6F6F6;
        height: 100%;
        padding-left: 24px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 700;
        &__desc{
            @include flex (center,center);
        }
        &__title {
            margin-right: 5px;
        }
        &__sub{
            color:#FF7506;
            margin-right: 5px;
        }


        
    }
    &-right{
        width: 401px;
        @include flex(center , center);
        height: 100%;
        &__noti{
            margin-right: 24px;
        }
        &__profile{
            @include flex(center,center)
        }
        &__user{
            margin-left: 8px;
        }
        &__hi{
            color: #7E7D88;
            line-height: 18px;
            font-size: 12px;
        }
        &__name{
            color: #535261;
            line-height: 24px;
            font-size: 16px;
            font-weight: 700;
        }
    }
}