$font : 'Nunito', sans-serif;
$text-color : #535261 ;
$primary-color : #FF9138 ;
$second-color:#E73F3F;
$login-bg : #F6F6F6 ;
$bg-color : #F7F7F7;

$colors: (
    "blue": #4267b2,
    "orange": #FF9138,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "main" : #B1B1B1,
    "red": #E73F3F,
);
