.sl  {    
    padding: 8.5px 10.5px;
          
            color: #7E7D88;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            gap: 24px;
            border-radius: 8px;
            border:  1.5px solid #D4D4D7;
            outline: #FF7506;
            width: 300px;
            -webkit-appearance:none; /* Safari and Chrome */
             appearance:none;
             background-image: url('../../assets/images/dashboard/arrow.png');
             background-repeat: no-repeat;
             background-position: calc(100% - 10px) center;
             background-size: 20px;
             box-sizing: border-box;
             option[value=""][disabled] {
                display: none;
              }

}
.sl.active{
    border: 1.5px solid #FF7506;
    background-image : url('../../assets/images/selector/arrowup.png')
}
.sl.sz-small{
    width: 150px;
}
.sl.sz-big{
    width: 396px;
}
.sl.sz-over{
    width: 540px;
}

.selector{
    &-title{
        color: #282739;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 4px;
    }
    
}
.selector-wrap{
    select {
        option {
            width: 226px;
            height: 44px;
            display: block;
    }
    }
   
}