.react-datetimerange-picker__wrapper {
    display: flex !important;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    border: thin solid gray;
  }
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__minutereact-datetimerange-picker__inputGroup__input--hasLeadingZero{
      display: none;
  }
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__minute{
      display: none;
  }
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__hour{
    display: none;
}
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__hour{

        display: none;
}

.react-datetimerange-picker__clear-button__icon.react-datetimerange-picker__button__icon{
    display: none;
}
.react-datetimerange-picker__range-divider{
    display: none;
}
.react-datetimerange-picker__calendar-button.react-datetimerange-picker__button{
    display: none;
}

.react-datetimerange-picker__clear-button.react-datetimerange-picker__button{
    display: none;
}

.calender-button {
    
        img {position: relative !important;}
       
    
}
.react-datetimerange-picker__wrapper{
    border: none;

   
   
}
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__minute.react-datetimerange-picker__inputGroup__input--hasLeadingZero
{
    display: none;
}
.react-datetimerange-picker__inputGroup__leadingZero{
    display: none;
}
.react-calendar{
  position: absolute;
    width: 320px;
height: 336px;
top :10px ;
left : -45px;
padding: 16px;

background: #FFFFFF;
/* dropdown */
border-radius: 8px;
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
.react-calendar__navigation__arrow.react-calendar__navigation__next-button{
        color: #FF7506;
        
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button{
    color: #FF7506;
}


.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day{
    background-color: #FF7506 ;
}
// .react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
//     background-color: #FFF2E7;
// }
.react-calendar__tile.react-calendar__tile--hasActive.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__month-view__days__day{
    background-color:#FF7506;
    color: white;
    border-radius: 8px;
}
.react-calendar__tile.react-calendar__tile--hasActive.react-calendar__tile--range.react-calendar__tile--rangeEnd.react-calendar__month-view__days__day{
    background-color:#FF7506;
    color: white;
    border-radius: 8px;
}
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day{
    background-color: #FFF2E7;
    color: #535261;
    border-radius: 8px;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
        color: #A9A9B0;
        border-radius: 8px;
}
.react-calendar__tile:enabled.hover, .react-calendar__tile:enabled:focus {
    background-color: #FFF2E7;
}
.react-calendar__tile.react-calendar__tile--hover.react-calendar__month-view__days__day{
    background-color: #FFF2E7;}
    .react-calendar__month-view__weekdays{
        color: #FF9138;
        border-radius: 8px;
    }

.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__year{
        outline: none;
        border: none;
        background-color: white;
        font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #A9A9B0;
}
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__month{
    outline: none;
        border: none;
        background-color: white;
        font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #A9A9B0;
line-height: 24px;
}
.react-datetimerange-picker__inputGroup__input.react-datetimerange-picker__inputGroup__day{
    outline: none;
    border: none;
    background-color: white;
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #A9A9B0;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day{
    background-color: rebeccapurple;  
    border-radius: 8px;  
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth{
    border-radius: 8px;
}
.react-datetimerange-picker__inputGroup:nth-child(1){
    margin-right: 77px;
    
}.react-datetimerange-picker__inputGroup:nth-child(1)::after{
    content: "";
    display: block;
    height: 44px;
    position: absolute;
    top: -10px;
    transition: 0;
    left: 85px;
    z-index: 3;
    width: 17px;
    background-color: white;
    border-right: 1.5px solid #D4D4D7;
    border-top-right-radius : 8px;
    border-bottom-right-radius :8px;
    border-top: 1.5px solid #D4D4D7;
    border-bottom: 1.5px solid #D4D4D7;
}
.react-datetimerange-picker__inputGroup::after{
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    top: 8%;
    transition: 50%;
    right: -3px;
    width: 10px;
    background-color: white;
  
}