@use "../../sass/mixin" as * ;
.calendar{
    &-arrow{
        position: absolute;
        left: 140px;
        z-index: 2;
        width: 30px;
   
        background-color: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
     
    }
    &-icon{
        position: absolute;
        left: 165px;
        z-index: 2;
        width: 45px;
        
        border-top: 1.5px solid #D4D4D7;
        border-left: 1.5px solid #D4D4D7;
        border-bottom: 1.5px solid #D4D4D7;
        border-top-left-radius : 8px;
        border-bottom-left-radius :8px;
        background-color: white;
    
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
    }
    &-wrap
    { 
        width: 320px;
        height: 72px;
    }
    &-button
    {   padding :6.5px 10.5px;
        color: #7E7D88;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        gap: 12px;
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
        border: 1.5px solid #D4D4D7;
        @include flex(center,flex-start);
        background-color:white;
        height: 44px;
       
    }
    &-title{
        color: #282739;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 2px;
    }
    &-group {
        @include flex(center,flex-start);
        position: relative;
       
       &-button{
           img {position: relative;}
       }
       
    }
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
     display: none;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    display: none;
}
.react-datetimerange-picker__inputGroup{
    font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A9A9B0;
  }
  .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
    font-family: 'Nunito'!important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  /* identical to box height */
  
  
  /* Orange/$-Orange-500 */
  
  color: #FF7506 !important;
  
  } 
  .react-calendar__navigation__arrow react-calendar__navigation__next-button{
      margin: 40px;
  }
 