@use "../../sass/mixin" as * ;
.calendar{
    &-wrap
    { 
        width: 320px;
        height: 72px;
    }
    &-button
    {   padding :6.5px 10.5px;
        color: #7E7D88;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        gap: 12px;
        border-radius: 8px;
        box-sizing: border-box;
        outline: none;
        border: 1.5px solid #D4D4D7;
        @include flex(center,flex-start);
        background-color:white;
       
    }
    &-title{
        color: #282739;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 4px;
    }
    &-group {
        @include flex(center,flex-start);
        position: relative;
       &-button{
           img {position: relative;}
       }
       
    }
}
.arrow-button{
    position: absolute;
    right:57% ;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
     display: none;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    display: none;
}
.react-datetimerange-picker__inputGroup{
    font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #A9A9B0;
  }
  .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
    font-family: 'Nunito'!important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  /* identical to box height */
  
  
  /* Orange/$-Orange-500 */
  
  color: #FF7506 !important;
  
  }