@use "../../sass/mixin" as *;
.devicedetail{
&-wrap {
    margin: 0px 0px 0px 200px;
    background-color:#F7F7F7;
    height: 722px;
    padding: 24px 0px 24px 24px;
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}
&-title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
    margin-bottom: 16px;
}
&-main{
    background-color: white;
    height: 550px;
    width: 1152px;
    padding: 16px 24px;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
    &__top{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;   
        color: #FF7506;
        margin-bottom: 24px;
    }
    &__title{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #282739;
        span{
            font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
        }
     
    }
}

   
}