@use "../../sass/mixin" as *;
.device{
    &-service{
        &_deactive{
            div{
                text-overflow: ellipsis;
                width: 178px;
            height: 21px;
            overflow: hidden;
            white-space: nowrap;
            }
            width: 268px;
            height: 42px;
            overflow: hidden;
        }
        
            
        &_active {
            width: 394px;
            height: 50px;
            background: #FFFFFF;
            border: 1.5px solid #FFAC6A;
            box-sizing: border-box;
            border-radius: 8px;
            z-index : 2 ;
            display: none;
            position: absolute;
            &.expand:nth-child(0){
                display: block;
                top: 30%;
                right: 29%;
            }
            &.expand:nth-child(1){
                display: block;
                top: 78%;
                right: 20%;
            }
            &.expand:nth-child(2){
                display: block;
                top: 50%;
                right: 29%;
            }
            &.expand:nth-child(3){
                display: block;
                top: 40%;
                right: 29%;
            }
            &.expand:nth-child(4){
                display: block;
                top: 50%;
                right: 29%;
            }
        }
    }
    &-pages{
        margin: 24px 104px 20px 848px;
    }
    &-data{

        table{
            text-align: left;
            border-radius: 12px;
            border-spacing: 0px;
            margin-top: 16px;
            width: 1112px;
         
        }
        
        th {
   
           padding: 12.5px 8px;
           background-color: #FF9138;
           color: white;
           font-weight: 600;
           font-size: 16px;
           line-height: 24px;
           position: relative;
           border: none;
          
       
        }
        th::before{
            content: "";
            width: 1px;
            height: 48px;
            background-color: #FFE3CD;
            display: block;
            position: absolute;
            left: 0;
            top: 0; 
        }
        td 
        {   position: relative;
            overflow :hidden;
            &.expand {
                width: 180px;
                 height: 21px; 
            }
            span::before{ 
            content: "";
            width: 1px;
            height: 48px;
            background-color: #FFE3CD;
            display: block;
            position: absolute;
            left: 0;
            
            top: 0;
          
        }}
        th:first-child::before{
            display: none;
        }
        th:first-child{
            border-top-left-radius: 12px;
            padding-left: 16px;
        }
        th:last-child
        {
            border-top-right-radius :12px;
        }
        td {
            padding: 3.5px 8px 3.5px 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
          
            a{
                cursor: pointer;
                text-decoration: underline;
                color: #4277FF;
            }
            span {
                margin-left: 5px;
            }
      
            
        }
        td:first-child{
           
            padding-left: 16px;
        }
        tr:nth-child(2n+1) td 
        {
            background-color: #FFF2E7;
        }
        tr:nth-child(2n) td 
        {
            background-color: white;
        }

       
    }
}